body {
    font-family: sans-serif;
    background-color: #3d3d3d;
    color: #fff;
}

h1, h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 25px;
}

h1 span, h2 span {
    color: lightsalmon;
}

a {
    outline: none;
    text-decoration: none;
    color: #fff;
}

a:hover { color: black; }

a:active { color: lightsalmon; }

.wrapper {
    max-width: 800px;
    width: 50%;
    min-width: 400px;
    padding: 15px;

    position: absolute;
    top: 50%;
    left: 50%; /* Уменьшает доступную для элемента ширину на 50% */
    margin-top: -20%; /* Для компенсации top: 50% */
    transform: translate(-50%, 0%);
}

#additional-info .content-container:hover {
    transform: scale(1.02);
    z-index: 1;
    transition: transform .5s;
}

#additional-info .content-container {
    transform-origin: right bottom;
}

#cards .content-container {
    text-align: center;
}

#cards img {
    width: 200px;
    height: 200px;
    border-radius: 20px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#registration .content-container {
    max-width: 40%;
    min-width: fit-content;
    text-align: center;
}

fieldset {
    border-style: none;
}

fieldset label {
    color: #5b5b5b;
    font-size: large;
    font-weight: bold;
    
    float: left;
}

fieldset input {
    text-align: center;
    color: #fff;

    width: 100%;

    border: 2px solid lightsalmon;
    border-radius: 20px;

    background-color: rgb(25, 25, 25);
}

fieldset input:hover, fieldset input:focus-within {
    background-color: #fff;
    color: black;
}

form button {
    width: 100%;

    color: #fff;

    border-style: none;
    border-radius: 20px;

    background-color: #5b5b5b;

    box-shadow: 5px 10px 3px black;
}

form button:not(:first-child) {
    margin-top: 1em;
}

.content-container {
    padding: 25px;

    margin-left: auto;
    margin-right: auto;

    border: 2px solid lightsalmon;
    border-radius: 20px;

    box-shadow: 10px 15px 5px black;

    margin-bottom: 25px;
}

.content-container > div { /* Выберет только прямого div потомка класса content-container */
    width: 70%;
    color: #5b5b5b;
    margin-bottom: 25px;
}

.content-container > p {
    padding: 25px;
    border-radius: 20px;
    background-color: #5b5b5b;
}

@font-face {
    font-family: 'Oswald';
    src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}