body {
  font-family: sans-serif;
  background-color: #3d3d3d;
  color: #fff;
}

h1 {
    font-family: 'Oswald';
    padding-bottom: 30px;
    text-transform: uppercase;
    text-decoration: underline;
}

h1 span {
    color: lightsalmon;
}

.content-container {
    max-width: 800px;
    width: 50%;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    position: absolute;
    top: 50%;
    left: 50%; /* Уменьшает доступную для элемента ширину на 50% */
    margin-right: -50%; /* Для компенсации left: 50% */
    transform: translate(-50%, -50%);

    border: 2px solid lightsalmon;
    border-radius: 20px;

    box-shadow: 10px 10px 5px black;
    /* background: whitesmoke; */
}

@font-face {
    font-family: 'Oswald';
    src: url(/fonts/Oswald/Oswald-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}